<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    

    <title>Cocoa Brewer</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/bootstrap-tagsinput.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

		<div class="site-wrapper">
    		<div class="site-wrapper-inner">
        		<div class="cover-container">
          			<div class="header clearfix">
            				<div class="inner">
												<div class="row">
                    				<div class="col-sm-4"></div>
                    
														<div class="col-sm-4">
                     						<img id="logo" src="img/logo.png"></img>
                    				</div>
	
                    				<div class="col-sm-4 text-right">
                    		</div>          
                		</div>
            		</div>
          	</div>

					<div class="clear"></div>

          <div class="inner cover">
						 <form id="brew_it" class="form-horizontal" role="form" action="/" method="POST">
								<input type="hidden" class="form-control" id="pods_items" name="checkboxes[]">
		            <div class="form-group">
										 <label class="label" for="pods"></label>
		                 <input type="text" class="form-control" id="pods" onfocus="this.placeholder = ''" placeholder="Search for Cocoa pods">
		            </div>
						  </form>

							<div id="tagsDiv">
								<input id="tags" type="text" value="" />
							</div>
						
							<div class="clear"></div>

							<div id="custom_button">
								<button id="brew" class="btn btn-default" type="button">BREW</button>
							</div>
							
          </div>
 
          <div class="footer">
            <div class="inner">
                <div class="row">
                    <div class="col-sm-4">
                      <p>&copy; Cocoa Brewer 2014</p>
                    </div>

                    <div class="col-sm-1">
                      <a href=" https://github.com/CocoaBrewer/cocoabrewer.org" target="_blank"><img id= "ghLogo" src="img/ghLogo.png"></img></a>
                    </div>

                    <div class="col-sm-4 text-right">
                      <p>Powered by <a href="https://blog.cocoapods.org/Search-API-Version-1/" target="_blank">CocoaPods API</a></p/>
                    </div>          
                </div>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    
    <script src="/js/bootstrap-tagsinput.min.js"></script>
		<script src="/js/typeahead.bundle.js"></script>
    <script>
    $(function() {
      
      $("#brew").click(function(){
        $("#pods_items").val($("#tags").tagsinput('items'));
        $("#brew_it").submit();
				$("#tags").tagsinput('removeAll');
      });      

      $("#tags").tagsinput({
				freeInput: true,
				placeholderColor: '#60c3e3'
      });

      function log( message ) {
        $("#tags").tagsinput('add', message);
      }

      $("#pods").autocomplete ({
        source: function( request, response ) {
          $.ajax({
            headers: {          
              Accept : "application/vnd.cocoapods.org+flat.hash.json", 
            },
            url: "https://search.cocoapods.org/api/pods",
            dataType: "json",
            data: {
              amount: 10,
              query: request.term
            },
            success: function( data ) {
              response(
                $.map(data, function( items ) {
                  return items.id + ' ' + items.version;
                })
              );
            }
          });
        },
        minLength: 2,
        select: function( event, ui ) {
          log( ui.item ? ui.item.label : "Nothing selected, input was " + this.value);
          this.value = '';
          return false;
        },
        open: function() {
          $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
        },
        close: function() {
          $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
        }
      });
    });
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-50618924-1', 'cocoabrewer.org');
      ga('send', 'pageview');
    </script>
  </body>
</html>
